{% extends "::base.html.twig" %}

{% block title %}LennaertBundle:Tweet:home{% endblock %}

{% block body %}
<h1>{{"Welcome to Tweeter"|trans}}</h1>

<form action="{{path('_tweet_create')}}" method="GET">
    <button type="submit">{{"Add a tweet"|trans}}</button>
</form>


<h2>{{"Recent tweets"|trans}}</h2>
<div style="float:left" width="200px">
    <img src="{{asset('bundles/lennaert/images/bird-blue.png')}}" alt="{{"Tweeter logo"|trans}}" width="200" align="left"/>
</div>

<div style="margin-left: 220px">
{% if recentTweets|length > 0 %}
    <dl>
    {% for tweet in recentTweets %}
        <dt>
            {% set url = path('_tweets_for_name', {'name':tweet.tweeter.name}) %}
            {{"<a href=\":url\">:name</a> tweeted on :date"|trans({':url':url|e,':name':tweet.tweeter.name|e, ':date':tweet.timestamp|date("c")})|raw}}
        </dt>
        <dd>
            {{tweet.text}}
        </dd>
    {% endfor %}
    </dl>
{% else %}
    <p>{{"There are no tweets :("|trans}}</p>
{% endif %}
</div>
{% endblock %}
